---
layout: layouts/base.njk
title: Blog
permalink: /blog/
---
<h1 class="text-4xl font-bold mb-8">{{ title }}</h1>

<ul class="space-y-6">
{% for post in collections.posts | reverse %}
  <li class="border-b border-gray-200 pb-6">
    <h2 class="text-xl mb-2">
      <a href="{{ post.url }}" class="text-blue-600 hover:text-blue-800 hover:underline">{{ post.data.title }}</a>
    </h2>
    <time datetime="{{ post.date | dateToRfc3339 }}" class="text-sm text-gray-600">
      {{ post.date | readableDate }}
    </time>
  </li>
{% endfor %}
</ul>